/* copyright and credits to https://codepen.io/marcellegane/pen/GoGVQe */

.glitch__container {
    min-height: 25vh;
    width: 100%;
    display: flex;
    animation: moveUp 0.25s;
}

.glitch {
    position: relative;
    mix-blend-mode: lighten;
    max-width: 400px;
    margin: auto auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .glitch {
        max-width: 600px;
        font-size: 4rem;
    }
}


.glitch:before,
.glitch:after {
    content: "Game Over";
    position: absolute;
    top: 0;
    width: 100%;
    /*background: black;*/
    clip: rect(0, 0, 0, 0);
}

.glitch:before {
    left: -1px;
    text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}

.glitch:after {
    left: 1px;
    text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}

.glitch:before {
    text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
    animation: glitch-loop-red 2.5s infinite ease-in-out alternate-reverse;
}

.glitch:after {
    text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
    animation: glitch-loop-blue 5s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-loop-red {
    0% { clip: rect(.8em, 9999px, 9px, 0) }
    5% { clip: rect(.25em, 9999px, 99px, 0) }
    10% { clip: rect(.5em, 9999px, 102px, 0) }
    15% { clip: rect(.3em, 9999px, 92px, 0) }
    20% { clip: rect(.91em, 9999px, 98px, 0) }
    25% { clip: rect(.8em, 9999px, 9px, 0) }
    30% { clip: rect(.8em, 9999px, 9px, 0) }
    35% { clip: rect(.25em, 9999px, 99px, 0) }
    40% { clip: rect(.75em, 9999px, 102px, 0) }
    45% { clip: rect(.3em, 9999px, 92px, 0) }
    50% { clip: rect(.91em, 9999px, 98px, 0) }
    55% { clip: rect(.7em, 9999px, 9px, 0) }
}

@keyframes glitch-loop-blue {
    0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
    5% { top: -6em; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
    10% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
    15% { top: 0; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
    20% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
    25% { top: -1px; left: 1px; clip: rect(65px, 9999px, 2.5em, 0) }
    30% { top: -1px; left: 1px; clip: rect(65px, 9999px, 1em, 0) }
    35% { top: -1px; left: -1px; clip: rect(31px, 9999px, 1em, 0) }

}

