/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    background: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    font-family: "Windows Command Prompt";
    text-transform: uppercase;
    box-sizing: border-box;
}

.container {
    color: #77ff77;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    height: 100%;
}

.grid:not(.no-interaction) {
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;

    background-image: linear-gradient(rgb(119, 255, 119) 2px, transparent 2px),
        linear-gradient(90deg, rgb(119, 255, 119) 2px, transparent 2px);
    background-size: 1px 4%, 4% 1px;
    background-position:0 0, 0 0;
    image-rendering: pixelated;
    animation: throughSpace 2s linear, fadeIn 1s linear;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: forwards, forwards;
}

.grid.no-interaction {
    opacity: 0;
}

.grid-fade {
    display: block;
    position: absolute;
    top: 40%;
    box-shadow: inset 0 135px 50px -100px #000;
    width: 100%;
    height: 100%;
}
  
  
@keyframes throughSpace{
    0%{
        transform: perspective(400px) rotateX(75deg) translateY(0%);
    }
    100%{
        transform: perspective(400px) rotateX(75deg) translateY(4%);
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-bar:not(.no-interaction) {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    animation: fadeIn 1s;
}

.menu-bar.no-interaction {
    position: absolute;
    opacity: 0;
}

.button {
    display: block;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0;
}

.button img {
    display: block;
    width: 100%;
    height: 100%;
}

.button.is-hidden {
    display: none;
}

.credits {
    font-size: 1.5rem;
    animation: textShadow 1.6s infinite;
}

.insert-coin {
    font-size: 1.5rem;
    animation: blinker 1s linear infinite;
}

.marquee:not(.no-interaction) {
    display: block;
    margin: auto 0;
    font-size: 2rem;
    color: #ff1493;
    animation: fadeIn 1s linear, textShadow 1.6s infinite;
}

.marquee.no-interaction {
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    .marquee {
        font-size: inherit;
    }
}

.date:not(.no-interaction) {
    display: block;
    margin: 0;
    animation: moveUp 0.25s, textShadow 1.6s infinite
}

.date.no-interaction { 
    margin: 0;
    transform: translateY(50px);
}

.success {
    display: none;
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.success.is-visible {
    display: block;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-family: 'NiseAstroCity';
    max-width: 90rem;
}

p {
    text-transform: uppercase;
    margin: 1em 0;
}

.request-invite:not(.no-interaction) {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: 10px;
    animation: fadeIn 1s linear, textShadow 1.6s infinite;
}

.request-invite.no-interaction {
    opacity: 0;
}

.request-invite.is-hidden {
    display: none;
}

.signup-form:not(.no-interaction) {
    font-size: 1.5rem;
    margin-bottom: 50px;
    display: block;
    z-index: 11;
    width: 100%;
    animation: fadeIn 1s linear;
}

.signup-form.no-interaction {
    opacity: 0;
}

.signup-form.is-hidden {
    display: none;
}

.signup-form label {
    padding: .5em .5em;
    display: block;
}

.signup-form input {
    padding: .5em .5em;
}

audio {
    display: none;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}