/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    background: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    font-family: "Windows Command Prompt";
    text-transform: uppercase;
}

.container {
    color: #77ff77;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    display: flex;
    height: 100%;
}

.grid {
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;

    background-image: linear-gradient(rgb(119, 255, 119) 2px, transparent 2px),
        linear-gradient(90deg, rgb(119, 255, 119) 2px, transparent 2px);
    background-size: 1px 4%, 4% 1px;
    background-position:0 0, 0 0;
    image-rendering: pixelated;
    animation: throughSpace 2s linear;
    animation-iteration-count: infinite;
}

.grid-fade {
    display: block;
    position: absolute;
    top: 40%;
    box-shadow: inset 0 135px 50px -100px #000;
    width: 100%;
    height: 100%;
}
  
  
@keyframes throughSpace{
    0%{
        transform: perspective(400px) rotateX(75deg) translateY(0%);
    }
    100%{
        transform: perspective(400px) rotateX(75deg) translateY(4%);
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.marquee {
    display: block;
    margin: auto 0;
    font-size: 2rem;
    color: #ff1493;
}

@media only screen and (min-width: 768px) {
    .marquee {
        font-size: inherit;
    }
}

.date {
    display: block;
    margin: 0;
}

.credits {
    position: absolute;
    font-size: 1.5rem;
    top: 25px;
    right: 25px;
}

.insert-coin {
    position: absolute;
    font-size: 1.5rem;
    top: 25px;
    left: 25px;
    animation: blinker 1s linear infinite;
} 

.success {
    display: none;
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.success.is-visible {
    display: block;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-family: 'NiseAstroCity';
    max-width: 90rem;
}

p {
    text-transform: uppercase;
    margin: 1em 0;
}

.request-invite {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: 10px;
}

.request-invite.is-hidden {
    display: none;
}

.signup-form {
    font-size: 1.5rem;
    margin-bottom: 50px;
    display: block;
    z-index: 11;
    width: 100%;
}

.signup-form.is-hidden {
    display: none;
}

.signup-form label {
    padding: .5em .5em;
    display: block;
}

.signup-form input {
    padding: .5em .5em;
}

audio {
    position: absolute;
    z-index: 1;
    display: block;
    margin: 0 auto;
    bottom: 1em;
    left: 0;
    right: 0;
}

@keyframes grid-animation-2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes grid-animation-1 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}